* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  height: 60px;
  background-color: #fe1a19;
  display: flex;
  align-items: center;
  padding: 20px;
  color: white;
  font: helvetica;
}

.main {
  display: flex;
  gap: 30px;
}

.centercol {
  border: 5px solid #e5e000;
  border-radius: 30px;
  width: 400px;
  height: 800px;
  margin: 50px 0;
}

.centercol > p {
  margin: 20px;
  font-weight: bold;
}

.rightcol > p {
  margin: 20px;
  font-weight: bold;
}

.footer {
  height: 60px;
  background-color: #fe1a19;
  display: flex;
  align-items: center;
  padding: 20px;
  color: white;
  font: helvetica;
}
